{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Hello {{ controller_name }}</h1>
    </div>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>src/Controller/OverviewController.php</code></li>
        <li>Your template at <code>templates/overview/index.html.twig</code></li>
    </ul>
{% endblock %}
