{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}
{% block h1 %}Hello <span class="text-info">{{ app.user.username }}</span>!{% endblock %}

{% block body %}
    <p>
        This software if built to help you in creating your new timetable.
    </p>
    <p>
        In navbar click "timetable" to select subjects you prefer, choose what you like, and keep the algorithm to its job. This returns best combinations of all the subjects you choose
    </p>
{% endblock %}
