{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    {% for key, item in data %}
        <p>{{ key }} - {{ item }}</p>
    {% endfor %}
{% endblock %}
