{% extends 'base.html.twig' %}

{% block title %}Subjects selection{% endblock %}

{% block body %}

    <script language="JavaScript">
        function toggleSubjects() {
            $('#form_subjects input:checkbox').each(function () {
                $(this).click();
            })
        }
    </script>

    {{ form_start(subjects_form) }}
    {{ form_widget(subjects_form) }}
    <div class="row">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" value="save" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-default" onclick="toggleSubjects()">Invert selection</button>
        </div>
    </div>
    {{ form_end(subjects_form) }}

{% endblock %}
