<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
    <div class="container">
        <a href="/" class="navbar-brand">Time_Table_Tweak</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
            <span class="navbar-toggle-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mobile-nav">
            <ul class="navbar-nav ml-auto">
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a href="{{ path('admin') }}" class="nav-link">Admin</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a href="{{ path('time_table') }}" class="nav-link">Timetable</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('subject') }}" class="nav-link">Subjects</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('logout') }}" class="nav-link">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>